<footer class="footer">
    <div class="social-links">
        <a href="https://space.bilibili.com/259149243" class="social-icon"><img src="/images/social-icons/bilibili.png" alt="bilibili"></a>
        <a href="https://space.bilibili.com/1142118273" class="social-icon"><img src="/images/social-icons/bilibili.png" alt="bilibili"></a>
        <a href="https://music.163.com/#/artist?id=51249151" class="social-icon"><img src="/images/social-icons/wangyiyun.png" alt="网易云"></a>
        <a href="https://github.com/XxBoLuoxX" class="social-icon"><img src="/images/social-icons/github.png" alt="github"></a>
        <a href="https://steamcommunity.com/id/XxBo_LuoxX/" class="social-icon"><img src="/images/social-icons/steam.png" alt="steam"></a>
    </div>
    <div class="random-text" id="randomText"></div>
</footer>
<script src="/js/main.js"></script>