<footer class="footer">
    <div class="social-links">
        <a href="#" class="social-icon"><img src="/images/social-icons/github.png" alt="GitHub"></a>
        <a href="#" class="social-icon"><img src="/images/social-icons/twitter.png" alt="Twitter"></a>
        <a href="#" class="social-icon"><img src="/images/social-icons/weibo.png" alt="微博"></a>
        <a href="#" class="social-icon"><img src="/images/social-icons/instagram.png" alt="Instagram"></a>
        <a href="#" class="social-icon"><img src="/images/social-icons/linkedin.png" alt="LinkedIn"></a>
    </div>
    <div class="random-text" id="randomText"></div>
</footer>
<script src="/js/main.js"></script>